@{
    ViewBag.Title = "Bid My Trip";
}

<div class="row margin-top">
    <form id="customerForm" name="customerForm" method="post" action="">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input id="firstName" class="form-control" type="text" name="firstName" />
        </div>

        <div class="form-group">
            <label for="secondName">Second Name:</label>
            <input id="secondName" class="form-control" type="text" name="secondName" />
        </div>

        <div class="form-group">
            <label for="passengerType">Passenger type:</label>
            <select id="passengerType" class="form-control" >
                <option selected value="ADT">Adult</option>
                <option value="CHD">Child</option>
                <option value="INF">Infant</option>
            </select>
        </div>

        <div class="form-group">
            <label for="departureCity">Departure City:</label>
            <select id="departureCity" class="form-control">
                <option selected value="MAD">Madrid</option>
                <option value="LON">Londres</option>
                <option value="HEL">Helsinki</option>
                <option value="CPH">Copenhague</option>
            </select>
        </div>


        <div class="form-group">
            <label for="arrivalCity">Arrival City:</label>
            <select id="arrivalCity" class="form-control">
                <option value="MAD">Madrid</option>
                <option value="LON">Londres</option>
                <option selected value="HEL">Helsinki</option>
                <option value="CPH">Copenhague</option>
            </select>
        </div>

        <div class="form-group">
            <label for="departureDatetime">Departure Date:</label>
            <input id="departureDatetime" class="form-control" type="date" name="departureDatetime" min="2018-12-02" max="2019-12-02" />
        </div>

        <div class="form-group">
            <label for="arrivalDatetime">Arrival Date:</label>
            <input id="arrivalDatetime" class="form-control" type="date" name="arrivalDatetime" min="2018-12-02" max="2019-12-02" />
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input id="price" class="form-control" type="number" name="price" />
        </div>

        <button type="submit" class="btn btn-primary">Sent Proposal</button>
    </form>
</div>