@{
    ViewBag.Title = "Bid My Trip";
}

<div class="row margin-top">
    <form id="customerForm" name="customerForm" method="post" action="">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input class="form-control" type="text" name="firstName" />
        </div>

        <div class="form-group">
            <label for="surname">Surname:</label>
            <input class="form-control" type="text" name="surname" />
        </div>

        <div class="form-group">
            <label for="departureCity">City select</label>
            <select class="form-control" id="departureCity">
                <option selected value="Madrid">Madrid</option>
                <option value="Sevilla">Sevilla</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Kittilä">Kittilä</option>
            </select>
        </div>


        <div class="form-group">
            <label for="arrivalCity">City select</label>
            <select class="form-control" id="arrivalCity">
                <option selected value="Madrid">Madrid</option>
                <option value="Sevilla">Sevilla</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Kittilä">Kittilä</option>
            </select>
        </div>

        <div class="form-group">
            <label for="departureDatetime">DepartureDatetime:</label>
            <input class="form-control" type="date" name="departureDatetime" min="2018-12-02" max="2019-12-02" />
        </div>

        <div class="form-group">
            <label for="arrivalDatetime">ArrivalDatetime:</label>
            <input class="form-control" type="date" name="arrivalDatetime" min="2018-12-02" max="2019-12-02" />
        </div>
        <button type="submit" class="btn btn-primary">Sent Proposal</button>
    </form>
</div>